module Utils
  module CustomTestUtils
    TESTED_CLASS_NAME = 'User'

    private

    def run_all_tests
      create :user

      run_test :test_01
      log_queries

      run_test :test_01
    end

    def test_01
      user_fetched_data = get_user_data(option: :foo)

      assert_equal :foo, user_fetched_data[:output]
    end

    def test_02
      user_fetched_data = get_user_data(option: :bar)

      assert_equal :bar, user_fetched_data[:output]
    end

    def get_user_data(option:)
      test_wrapper do
        @candidate_class.get_user_data(option)
      end
    end
  end
end
